
/* =====================================================
   DARK MODE
===================================================== */

body.dark-mode {
    color: #e5e7eb;

    background:
        radial-gradient(
            circle at 10% 10%,
            rgba(99, 102, 241, 0.12),
            transparent 30%
        ),
        #020617;
}


/* Header */

body.dark-mode .brand h2 {
    color: #f8fafc;
}

body.dark-mode .brand span {
    color: #94a3b8;
}


/* Theme button */

body.dark-mode .theme-btn {
    background: #111827;

    border-color: #334155;

    color: white;
}


/* Statistics */

body.dark-mode .stat-card {
    background: #111827;

    border-color: #1e293b;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.25);
}

body.dark-mode .stat-card strong {
    color: #f8fafc;
}

body.dark-mode .stat-card span {
    color: #94a3b8;
}

body.dark-mode .stat-icon {
    background: #1e293b;
}


/* Subjects */

body.dark-mode .section-heading h2 {
    color: #f8fafc;
}

body.dark-mode .section-heading p {
    color: #94a3b8;
}


body.dark-mode .subject-card {
    background: #111827;

    border-color: #1e293b;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.25);
}


body.dark-mode .subject-info h3 {
    color: #f8fafc;
}


body.dark-mode .subject-info p {
    color: #94a3b8;
}


body.dark-mode .arrow {
    background: #1e293b;

    color: #a5b4fc;
}


/* Footer */

body.dark-mode footer {
    color: #64748b;
}

body.dark-mode footer p {
    color: #cbd5e1;
}
